.servicesSection {
  background: #121212;
  padding: 6rem 0;
  color: #fff;
}

.header {
  text-align: center;
  margin-bottom: 3rem;
}

.subtitle {
  background: #222;
  color: #ccc;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.serviceHeading span{
  display: block;
}
.header h2 {
  font-size: 64px;
  font-weight: 300;
  line-height: 1.4;
  color: #eee;
}

.highlight {
  color: #f0a377;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.card {
  position: relative;
  border-radius: 40px;
  border: 0.5px solid #fff;
  overflow: hidden;
  background: #1c1c1c;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.cardOverlay {
  position: absolute;
  z-index: 2;
  padding: 1.5rem;
  background: linear-gradient(180deg, rgba(18, 16, 15, 0) 0%, #000000 100%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
}

.cardOverlay h3 {
  font-size: 1.2rem;
  margin: 0;
}

.cardOverlay span {
  font-size: 1.5rem;
  font-weight: bold;
}

.centerCard {
  background: #FCCB45;
  color: #222;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  min-height: 300px;
}

.centerCard h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.centerCard p {
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.consultBtn {
  background: #fff;
  color: #000;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}

.consultBtn:hover {
  background: #000;
  color: #fff;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
