.mainBanner {
  position: relative;
  padding: 50px 0;
}

.bannerContent {
  position: relative;
  margin-bottom: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.bannerContent h1 {
  font-size: 64px;
  color: #fff;
  font-weight: 300;
  position: relative;
  margin-bottom: 30px;
}

.bannerContent h1 span {
  display: block;
  font-weight: 600;
  background: linear-gradient(97.23deg, #fed658 0%, #f8b018 100%);
  -webkit-background-clip: text;
  /* For Safari/Chrome */
  -webkit-text-fill-color: transparent;
  /* Make text transparent */
  background-clip: text;
  /* Standard */
  color: transparent;
  /* Fallback */
}

.bannerRightContent p {
  text-align: right;
  max-width: 500px;
  font-size: 18px;
  font-weight: 300;
  color: #c7c7c7;
}

.bannerImage img {
  border-radius: 40px;
  width: 100%;
  display: block;
}

.shape {
  position: absolute;
  top: 30px;
  right: 0;
}

.bannerLeftContent {
  text-align: center;
  width: 100%;
}

/* =========tech we use======== */
.serviceWrap {
  position: relative;
  padding: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px;
  overflow: hidden;
  margin-top: 40px;
}

.serviceWrap::before {
  position: absolute;
  content: "";
  background-image: url("/images/serviceBg.jpg");
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
  mix-blend-mode: overlay;
  /* transform: rotate(-90deg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blogTop {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}

.blogTopHeader {
  max-width: 358px;
  width: 100%;
}

.blogTopHeader h3 {
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  font-weight: 400;
}

.blogTopHeader p {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  font-weight: 300;
  opacity: 0.6;
}

.portfolioTab {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  border: 1px solid #373737;
  background: #1f2020;
  border-radius: 150px;
  overflow-x: auto;
  max-width: 870px;
  margin: 0 auto 50px;
  gap: 10px;
  padding: 5px !important;
}

.portfolioTab li {
  padding: 10px 25px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  border-radius: 150px;
}

.portfolioTab li.active {
  background: #343434;
  font-weight: 400;
}

.blogTabContent {
  margin-top: 20px;
}

.tabPane {
  display: none;
}

.tabPane.show {
  display: block;
}

.tabPane.hide {
  display: none;
}

.blogList {
  display: flex;
  flex-direction: column;
}

.blogItem:not(:last-child) {
  margin-bottom: 15px;
  border-bottom: 1px solid #ffffff1f;
}

.blogImg {
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 40px;
}

.blogItem h5 {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 10px;
}

.blogItem p {
  font-size: 16px;
  color: #fff;
  opacity: 0.6;
  font-weight: 400;
}

.blogItem hr {
  border-color: #444;
}

/* ======companies======== */
.companies {
  text-align: center;
  position: relative;
  padding: 30px 0 50px;
}

.companyWrap ul {
  align-items: center;
  gap: 20px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

/* =========other blog======= */
.otherBlog {
  position: relative;
  padding: 60px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blogHeading {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}
.EachBlogContent:not(:last-child) {
  margin-bottom: 40px;
}
.EachBlogContent h5 {
  font-size: 24px;
  font-weight: 500;
  opacity: 1;
  margin-bottom: 15px;
  color: #fff;
}
.EachBlogContent p {
  font-size: 16px;
  font-weight: 300;
  opacity: 0.7;
  margin-bottom: 8px;
}
.blogRightImg {
  position: relative;
  overflow: hidden;
  border-radius: 40px;
}
.blogRightImg img {
  height: 500px;
  object-fit: cover;
}
.blogShare {
  position: relative;
  background: #0a1c8f;
  border: 0.5px solid #ffffff;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
}
.blogShare p {
  font-size: 16px;
  font-weight: 600;

  margin-bottom: 5px;
}
.blogShare ul {
  display: flex;
  gap: 10px;
  margin: 0;
}
.blogShare ul li svg {
  font-size: 30px;
  color: #fff;
}

.articleTop {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.articleTop h3 {
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  font-weight: 400;
}
.blogGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.blogBlock {
  position: relative;
  text-align: left;
  margin-top: 40px;
}

.blogBlock img {
  width: 100%;
  height: 252px;
  border-radius: 20px;
  margin-bottom: 15px;
  border: 0.5px solid #ffffff;
}

.blogBlock h4 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.blogBlock p {
  font-size: 16px;
  color: #ffffffb2;
  font-weight: 400;
  margin-bottom: 10px;
}

.learnMore {
  color: #f8ad15;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 400;
}
.learnMore svg {
  transform: rotateZ(-30deg);
}
.customNav {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navBtn {
  position: relative;
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}
.navBtn svg {
  font-size: 20px;
  color: #fff;
}

/* Responsive */
@media (max-width: 992px) {
  .blogGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .blogGrid {
    grid-template-columns: 1fr;
  }
}

/* =======subscribe======= */
.subscribe {
  position: relative;
  padding: 60px 0;
}
.subscribeWrap {
  position: relative;
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.subscribeWrapImg {
  position: relative;
}
/* .subscribeWrapImg::before{
  position: absolute;
  content: '';
  background: linear-gradient(0deg, #141211 60.89%, rgba(255, 255, 255, 0) 95.99%);
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;

} */
.subscribeWrapContent {
  position: relative;
}

.subscribeWrapContent p {
  font-size: 16px;
  font-weight: 300;
  margin: 25px 0 20px;
  opacity: 0.8;
}
.newsletterForm {
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto 20px;
}

.emailInput {
  flex: 1;
  padding: 16px 24px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 400;
  background: #373737;
  color: #fff;
  border: 1px solid #5a5a5a;
}

.emailInput::placeholder {
  color: #ffffff9d;
}

.subscribeBtn {
  padding: 17px 40px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  border-radius: 70px;
  background: linear-gradient(98.51deg, #fed758 -32.97%, #f8b018 100%);
  color: #121212;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribeBtn:hover {
  background-color: #d4ac0d;
}

.footerNote {
  font-size: 0.8rem;
  color: #888;
}

/* ========buildTogether======== */
.buildTogether {
  position: relative;
  padding: 100px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.buildTogetherContent {
  position: relative;
}

.buildTogether .buildTogetherHeading {
  margin-bottom: 30px;
}

.buildTogether p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 40px;
  opacity: 0.8;
}

.buildshape {
  position: absolute;
  top: 10%;
  right: 10%;
}
