.subtitle{
    position: relative;
    padding: 10px 30px;
    font-size: 18px;
    color: #c7c7c7;
    background: #1F2020;
    border: 1px solid #373737;
    border-radius: 100px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 20px;
}