.mainHeading {
  font-size: 64px;
  font-weight: 300;
  color: #CBC9C7;
}

.mainHeading span {
  background: linear-gradient(90deg, #E9B492 0%, #D7A882 48.08%, #FFCBBB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 600;
}
